@font-face {
  font-family: 'NotoSans-Light';
  src: url('NotoSans-Light.eot');
  src: url('NotoSans-Light.eot?#iefix') format('embedded-opentype'),
       url('NotoSans-Light.svg#NotoSans-Light') format('svg'),
       url('NotoSans-Light.ttf') format('truetype'),
       url('NotoSans-Light.woff') format('woff'),
       url('NotoSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'NotoSans-SemiBold';
    src: url('NotoSans-SemiBold.eot');
    src: url('NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-SemiBold.svg#NotoSans-SemiBold') format('svg'),
    url('NotoSans-SemiBold.ttf') format('truetype'),
    url('NotoSans-SemiBold.woff') format('woff'),
    url('NotoSans-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans-Regular';
    src: url('NotoSans-Regular.eot');
    src: url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Regular.svg#NotoSans-Regular') format('svg'),
    url('NotoSans-Regular.ttf') format('truetype'),
    url('NotoSans-Regular.woff') format('woff'),
    url('NotoSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoSans-Medium';
    src: url('NotoSans-Medium.eot');
    src: url('NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('NotoSans-Medium.svg#NotoSans-Medium') format('svg'),
    url('NotoSans-Medium.ttf') format('truetype'),
    url('NotoSans-Medium.woff') format('woff'),
    url('NotoSans-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


