//colors
$black: #2D2C2C;
$text: #000;
$white: #fff;
$red: #c10604;
$red1: #9D0B1D;
$input-border: #5C5B5B;
$placeholder: #858282;

//font size
$test-size: 18px;
$big-title: 64px;
$logo: 48px;
$title: 36px;
$small-title: 32px;
$simple-text: 18px;

//font family
$f-family1: 'Open Sans', sans-serif;
$f-family2: 'Nunito', sans-serif;

